.container{
  position: absolute;
  top: 0;
  min-height: 995px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width:1350px){
    .container{
        min-height: 1100px;
    }
}

@media screen and (max-width:1100px){
    .container{
        min-height: 1650px;
    }
}

@media screen and (max-width:700px){
    .container{
        min-height: 1850px;
    }
}

@media screen and (max-width:390px){
    .container{
        min-height: 1940px;
    }
}