.h1{
    text-align: center;
    top: 200px;
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url('../public/iron-bg.jpg');
    background-position: center;
	color: transparent;
    position: relative;
    font-size: 70px;
    text-shadow: 1px 1px 0.5 white;
}

@media screen and (max-width:1100px){
    
    .h1{
        font-size: 50px;
        color: rgb(255, 255, 255,0.3);
    }
}

@media screen and (max-width:420px){
    .h1{
        top: 100px;
        font-size: 49px;
    }
}

.card{
    width: 29%;
    min-width: 350px;
    min-height: 300px;
    height: 30%;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255);
    border: solid 1.3px black;
    transition: all 1s;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

.cardStart{
    width: 1%;
    min-width: 270px;
    min-height: 270px;
    height: 25%;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255);
    border: solid 1.3px black;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}



@media screen and (max-width:420px){
    .card{
        top: 300px;
        min-width: 300px;
        min-height: 309x;
    }

    .cardStart{
        top: 350px;
    }
}

.coin{
    margin-top: 10px;
}

.container{
    color: aliceblue;
    position: relative;
    width: 100%;
    z-index: 1;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.btn1{
    border: solid 2px transparent;
    position: relative;
    z-index: 5;
    margin: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    border-radius: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 7%;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.btn1:hover{
    border: solid 2px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.btn2{
    border: solid 2px transparent;
    position: relative;
    z-index: 5;
    margin: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    
    background-color: rgb(197, 28, 28);
    padding: 10px 40px;
    border-radius: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 7%;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.btn2:hover{
    border: solid 2px rgb(197, 28, 28);
    color: rgb(197, 28, 28);
    background-color: transparent;
}

.numbers{
    margin: 0 7px;
    margin-bottom: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.arrows{
    margin-top: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.counter{
    display: flex;
    justify-content: center;
    animation-name: visible;
    animation-duration: 3s;
}

@keyframes visible {
    from{ opacity: 0; }
    to{ opacity: 1;}
}

.p{
    text-align: center;
    top: 230px;
	color: white;
    position: relative;
    font-size: 39px;
    text-shadow: 1px 1px 0.5 white;
    animation-name: visible;
    animation-duration: 1s;
}


@media screen and (max-width:495px){
    
    .p{
        display: none;
    }
}


.copy{
    border: solid 2px transparent;
    position: relative;
    z-index: 5;
    margin: 20px auto;
    margin-top: 0;
    top: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    border-radius: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 11%;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    animation-name: visible;
    animation-duration: 1s;
    border: dashed 1px rgb(255, 255, 255);
}

@media screen and (max-width:1850px){
    
    .copy{
        font-size: 15px;
        min-height: 44px;
        min-width: 202px;
    }
}

@media screen and (max-width:1100px){
    
    .copy{
        top: 630px;
    }
}

@media screen and (max-width:505px){
    .copy{
        top: 550px;
    }
}

@media screen and (max-width:500px){
    .copy{
        top: 620px;
    }
}

.copy:hover{
    border: solid 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: white;
}

.toast{
    top: 700px;
    background: green;
}

.info{
    position: absolute;
    z-index: 10;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

@media screen and (max-width:650px){
    .info{
        display: none;
    }
}

.toolTip{
    font-size: 20px !important;
}